html, body {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    /*font-family: MODERNESANS, 'YakuHanJP', 'NotoSansJP', sans-serif;*/
    font-size: 14px;
    letter-spacing: 0.1em;
  }

/*    header  ---------------------*/
#GlobalHeader{
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 20hw;
  background-color: black;
  position: fixed;
  display: inline-flex;
}

#GlobalHeader h1{
  font-size: 40px;
  margin: 30px;
  padding: 10px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  
}

#GlobalHeader > a > h1{
  color: black;
  font-family: futura;
}


#GlobalHeader h1:hover{
  border: 2px solid transparent;
  border-color: white;
  background-color: black;
  color: white;}


#access {
  position: absolute;
  right: 0;
  text-align: center;
}

#access ul{
  padding: 20px;
  padding-top: 40px;
}

#access ul li {
  list-style-type: none;
  display: inline-block;
  width: 8vw;
}

#access ul li a{
  padding: 10px;
  background-color: white;
  color: #333;
  font-family: futura;
  font-size: 20px;
  text-decoration: none;
}

#access ul li a:hover{
  border: 2px solid transparent;
  border-color: white;
  background-color: black;
  color: white;
}
/*    --------------------------------    */

/*    top body    */


/*   bottom   */
.copyright > p{
  text-align: center;
}
