/*    Body    */
#aboutCnt{
    margin-top: 50px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 100px;
    color: #fff;
    
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    background-image: linear-gradient(
        0deg,
        #202020 20%,
        #5C7183 20%, black 33%,
        #647B8F 30%, #647B8F 47%,
        #44617b 50%, black 60%,
        #5E7486 63%, #393f4c 90%,
        black 90%, black 100%
      );
      background-size: 100% auto;
}

#aboutCnt > div{
    padding-top: 10px;
}

#introduction > h1{
    font-size: 58px;
} #introduction > h1 > img{
    background-position: center;
}

.list {
    text-align: center;
}
.list > a { /*  それぞれの媒体の枠  */
    list-style-type: none;
    border: 2px solid white;
    width: 32vw;
    height: 10vh;
    display: inline-flex;
    align-items: center;
    margin: 10px;
    text-decoration: none;

}

.list > a > i{
    margin: 10px;
    margin-left: 50px;
    display: block;
}
.list > a > p{
    font-family: futura;
    width: 32vw;
    height: auto;
    margin: 0px;
    justify-content: center;
    display: block;
}

#email{
    color: white;
    border-color: white;
} #email:hover{
    background-color: white;
    color: black;
}

#twitter{
    color: #1DA1F2;
    border-color: #1DA1F2;
} 
#twitter:hover{
    background-color:#1DA1F2;
    color: black;
    
}

#instagram{
    color: #E1306C;
    border-color: #E1306C;
} #instagram:hover{
    background-color:#E1306C;
    color: black;
}

#github{
    color: white;
    border-color: white;
} #github:hover{
    background-color: white;
    color: black;
}